/* Custom Styles for Box.com by Sean Rose
================================================== */

/* Remove items from main view */
.right_col,
.sprite_16x16_horizontal_grey_link,
#tasks_tab, 
#files_tab, 
#contacts_tab,
#apps_tab,
#item_menu_box_edit,
#item_menu_preview ,
#item_menu_preview_new_tab,
#item_menu_lock,
#item_menu_add_services,
#item_menu_more_openbox,
#item_menu_add_edit_tags,
#item_menu_open_new_tab,
#item_menu_open,
.item_menu_action_default

{
    display: none !important;
}

/* One column to rule them all! */
.main, 
.page,
.subheader {
	width: 723px;
}
  
.main {
    border-right: none;
}
  
#search {
	width: 480px  
}

.search_unit {
  position: static !important;
}

.subheader {
	width: 723px;
    margin: auto;
    background: none;
}
                    
.breadcrumb_item,
.breadcrumb_item_link,
.breadcrumb_item_link:before,
.breadcrumb_item_link:after {
	border: none !important;
  	background: none !important;
}
              
/* Typography adjustments */
body {
  font-family: 'Open Sans', arial, helvetica, clean, sans-serif;
  font-weight: 400;
}

.inline_list {
	font-weight: 300; 
}

#innerdocbody, #innerdocbody span {
  font-family: 'Avenir Next' !important;
}
