/* Custom Styles for Box.com by Sean Rose
================================================== */

/* Remove items from main view */
.right_col,
.sprite_16x16_horizontal_grey_link,
#tasks_tab, 
#files_tab, 
#contacts_tab,
#apps_tab {
    display: none !important;
}

/* One column to rule them all! */
.main, 
.page,
.subheader {
    width: 723px;
}
  
.main {
    border-right: none;
}
  
#search {
    width: 480px  
}

.subheader {
    width: 723px;
    margin: auto;
    background: none;
}

/* Remove background and borders from breadcrumbs */
                    
.breadcrumb_item,
.breadcrumb_item_link,
.breadcrumb_item_link:before,
.breadcrumb_item_link:after {
    border: none !important;
    background: none !important;
}
              
/* Typography adjustments */

body {
  font-family: 'Open Sans', arial, helvetica, clean, sans-serif;
  font-weight: 400;
}

#innerdocbody, #innerdocbody span {
  font-family: 'Avenir Next' !important;
}
